#elementContainer{
border:1px solid;
position:absolute;
top:-105px;
height:125px;
width:100%;
background:#fff;
color:#000;
z-index:999;
}

#elementPluginList{
height:90px;
overflow:scroll;

}

.dropActive{
	background-color:#ffffcc;
}

.dragElement{
	cursor:pointer;
}
#elementPluginList ul{
	background:none;
}

#elementPluginList ul li {
float:left;
background:none;
border:1px solid #333;
padding:3px;
height:50px;
width:50px;
margin:0 10px;
}

.activeEl{
border:1px solid #333300;
background:#00ff00;
cursor:pointer;
}

.possibleHighLight{
border:1px solid #00ff00;
}