<h1>Register</h1>
<form method="post" action="/register">
	<fieldset>
		<legend>Register</legend>
		<label for="username">Username</label>
		<input type="text" name="username" id="username" />
		<label for="password">Password</label>
		<input type="password" name="password" id="password" />
	</fieldset>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Register</button>
	</div>
</form>	